>
		<div style="height:100%;" >
			<div style="width:50%;height:100%;float:left;border:1px solid black;" >
				<div style="text-align:center;width:100%;height:50%;" >
					<img src="http://localhost:8080" height="300" width="500">					
				</div>
				<div style="width:100%;height:50%;" >
					<div style="width:100%;height:25%;float:top;" >
						<div style="width:100%;height:50%;float:left;" >
						    <a href="/verificar">
								<button  type="button" class="btn btn-success btn-lg btn-block">
									Verificar
								</button>
							</a>
						</div><div style="width:100%;height:50%;float:left;" >
							<div style="width:50%;height:100%;float:left;" >
							    <a href="/decolar">
									<button  type="button" class="btn btn-info btn-lg btn-block">
										Decolar
									</button>
								</a>
							</div>
							<div style="width:50%;height:100%;float:left;" >
							    <a href="/pousar">
								<button  type="button" class="btn btn-warning btn-lg btn-block">
									Pousar
								</button>
								</a>
							</div>
						</div>
					</div>
					<div style="width:100%;height:50%;float:top;" >
						
							
						<div style="text-align:center;width:100%;height:20%;float:left;" >
						</div>
						<div style="text-align:center;width:100%;height:80%;float:left;" >
						
						
						
							<div style="text-align:center;width:17%;height:100%;float:left;" >
							    <a href="/subir">
								<button type="button" class="btn btn-default btn-lg">
									<span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span> Subir&nbsp;&nbsp;&nbsp;
								</button>
								</a>
								<a href="/descer">
								<button type="button" class="btn btn-default btn-lg">					
									<span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Descer
								</button>
								</a>
							</div>
							<div style="width:55%;height:100%;float:left;" >
								<div style="text-align:center;width:100%;height:33%;float:left;" >
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="/frente">
									<button type="button" class="btn btn-default btn-lg">					
										<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Frente
									</button>
									</a>
								</div>
								<div style="text-align:center;width:100%;height:34%;float:left;" >
								    <a href="/esquerda">
									<button type="button" class="btn btn-default btn-lg">					
										<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Esquerda
									</button>
									</a>
									<a href="/atras">
									<button type="button" class="btn btn-default btn-lg">					
										<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Atras&nbsp;&nbsp;
									</button>
									</a>
									<a href="/direita">
									<button type="button" class="btn btn-default btn-lg">					
										<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Direita
									</button>
									</a>
								</div>
							</div>
							<div style="text-align:center;width:28%;height:100%;float:left;" >
							    <a href="/virarDireita">
								<button  type="button" class="btn btn-default btn-lg">
									<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Virar direita&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</button>
								</a>
								<a href="/virarEsquerda">
								<button type="button" class="btn btn-default btn-lg">	
									<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Virar esquerda
								</button>
								</a>
							</div>
						</div>
						
						
					</div>
					<div style="width:100%;height:25%;float:top;">
						<div style="width:100%;height:100%;float:left;" >
						    <a href="/deuRuim">
							<button  type="button" class="btn btn-danger btn-lg btn-block">
								Deu ruim!
							</button>
							</a>
						</div>
					</div>
				</div>
				
			</div>
			<div style="width:50%;height:100%;float:left;border:1px solid black;" >
				<div style="text-align:center;width:100%;height:50%;float:left;" >
					<h1>QUESTAO</h1>
					<br>
					<br>
					<br>
					<h3>