</h2>
						</div>
					</div>
					<div style="width:100%;height:25%;float:top;" >
						<div style="text-align:center;width:100%;height:100%;float:left;" >
						    <a href="/proxima">
								<button type="button" class="btn btn-primary btn-lg">
									Pr&oacutexima Quest&atildeo
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>